<!-- Nav -->
<app-dashboard-nav></app-dashboard-nav>

<!-- Body -->
<div class="body">
  <div class="padding">
    <!-- Volver -->
    <app-go-back></app-go-back>

    <div class="display-flex tb-flex">
      <!-- Título -->
      <div class="title">
        <h3 class="ft-blue-1">Mis publicaciones</h3>
        <div class="divider-md bg-blue-3"></div>
        <div class="divider-sm bg-blue-3 display-none"></div>
      </div>

      <!-- Buscador -->
      <div class="input-group mb-3 search">
        <input 
          type="text" 
          class="form-control form-control-lg" 
          placeholder="Buscar" 
        >
        <span class="input-group-text">
          <i class="fa-solid fa-magnifying-glass ft-blue-2"></i>
        </span>
      </div>
    </div>

    <!-- Cartas -->
    <div class="card bg-blue-5 display-flex" *ngFor="let card of cards">
      <div class="card-body">
        {{ card.title }}
      </div>
      <a class="blue-button bg-blue-2 ft-white" [routerLink]="['/dashboard/publication-details', card.id ]">
        Ver
      </a>
    </div>

    <!-- Agregar -->
    <div class="add-button wt-100">
      <a class="blue-button bg-blue-2 ft-white" routerLink="/dashboard/new-publication">
        Añadir publicación
      </a>
    </div>
  </div>

  <app-footer class="wt-100"></app-footer>
</div>