/* Formulario */
.form {
  border-radius: 0.4rem;
  margin: 3rem 0 0 0;
}
.form .form-control, .form-select {
  border: #408AC7 1px solid;
}

/* Agregar */
.add-button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.add-button button {
  border: none;
  border-radius: 0.2rem;
  box-shadow: 3px 3px 3px #bebebe;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

/* Pantallas pequeñas */
@media (max-width: 900px) {

  /* Globales */
  h3 {
    font-size: 1.5rem;
  }
  .padding {
    padding: 2rem 2.3rem;
  }

  /* Body */
  .mt-5 {
    margin-top: 1.5rem !important;
  }
  .mt-5 .divider-md {
    display: none;
  }
  .mt-5 .divider-sm {
    display: block;
  }
  .form {
    margin-top: 2rem;
  }

}