<div class="login wt-100">
  <div class="body text-center">

    <!-- TravelPass (Logo y nombre) -->
    <app-logo-name></app-logo-name>

    <!-- Texto informativo -->
    <div class="informative-text">
      <h5>Restrablacer contraseña</h5>
    </div>

    <div class="form">
      <form [formGroup]="form" (ngSubmit)="changePassword()">

        <!-- Contraseña 1 -->
        <div class="mt-3 display-block">
          <input class="form-control form-control-lg" 
                 formControlName="password1"
                 placeholder="Nueva contraseña"
                 type="password">
        </div>
        <div class="ft-red-1 text-start mt-1" *ngIf="invalidField('password1')"> {{ validatePassword1 }} </div>
                    
        <!-- Contraseña 2 -->
        <div class="mt-3">
          <input class="form-control form-control-lg" 
                 formControlName="password2"
                 placeholder="Confirmar contraseña"
                 type="password">
        </div>
        <div class="ft-red-1 text-start mt-1" *ngIf="invalidField('password2')">La contraseña debe coincidir con la anterior.</div>

        <!-- Guardar -->
        <button class="wt-100 ft-white bg-blue-3 mt-3" [disabled]="form.invalid">Guardar</button>
      </form>
    </div>
    <div class="links">
      <p class="ft-black text-center">©2023 TavelPass.</p>
    </div>
  </div>
</div>