<!-- Nav -->
<app-dashboard-nav></app-dashboard-nav>

<!-- Body -->
<div class="body">
  <div class="padding">
    <div class="display-flex">
      <!-- Título -->
      <div class="title">
        <h3 class="ft-blue-1">Planes disponibles</h3>
        <div class="divider-md bg-blue-3"></div>
        <div class="divider-sm bg-blue-3 display-none"></div>
      </div>

      <!-- Buscador -->
      <div class="input-group mb-3 search">
        <input 
          type="text" 
          class="form-control form-control-lg" 
          placeholder="Buscar" 
          [(ngModel)]="searchText"
        >
        <span class="input-group-text">
          <i class="fa-solid fa-magnifying-glass ft-blue-2"></i>
        </span>
      </div>
    </div>
    
    <!-- Cartas -->
    <div class="card-container mt-5">
      <div class="card" *ngFor="let card of filterCards().reverse()">
        <img [src]="card.image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ card.title | titlecase }}</h5>
          <p class="card-text">{{ card.price + '$' }} - {{ card.limit + ' personas.' }}</p>
          <p class="card-text"><small class="text-body-secondary">{{ card.publicationDate | date:'MMMM d, y':'es' | titlecase }}</small></p>
        </div>
        <div class="card-footer text-center">
          <a [routerLink]="['/dashboard/publication-details', card.id ]">
            Detalles
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer-sm class="wt-100"></app-footer-sm>