<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">

    <!-- Logo -->
    <a routerLink="/home">
      <img src="../../../../../assets/img/logos/logo.png" class="logo">
    </a>

    <!-- Botón en responsive -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbar" 
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Opciones del menú -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li *ngFor="let item of navItems">
          <a class="nav-link ft-gray-2"> {{ item.item }} </a>
        </li>
        <li class="login-button bg-blue-1">
          <a class="nav-link ft-white" routerLink="/auth/login">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="body">

  <!-- Presentación -->
  <div>
    <!-- Imagen de fondo del inicio -->
    <img src="../../../../../assets/img/image/fondo-inicio.jpg" class="presentation-image position-absolute wt-100">

    <!-- Inicio y presentación -->
    <div class="presentation position-relative ft-white">
      <h1>TravelPass</h1>
      <div class="divider-lg bg-white"></div>
      <div class="divider-sm bg-white display-none"></div>
      <h2>Explora y viaja sin preocupaciones. Tu planificador de bolsillo te ayuda a hacerlo fácil.</h2>
      <a routerLink="/home/information" class="bg-blue-2 ft-white">
        Más información
      </a>
    </div>
  </div>

  <div class="position-relative">

    <!-- Sobre nosotros -->
    <div class="about-us bg-white wt-100">

      <!-- Wave verde azulado -->
      <div class="wave" style="height: 200px; overflow: hidden;"  bis_skin_checked="1">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M-0.00,49.85 C199.99,151.07 292.55,-6.40 500.78,15.25 L500.22,-0.49 L-0.00,0.00 Z" style="stroke: none; fill: #779D94;"></path>
        </svg>
      </div>

      <!-- Contenido sobre nosotros -->
      <div class="display-flex">
        <div>
          <h3 class="ft-green-1">Sobre nosotros</h3>
          <div class="divider-md bg-gray-1"></div>
          <div class="divider-sm bg-gray-1 display-none"></div>
          <p>
            Somos un grupo de personas cuyo objetivo principal es seguir reactivando el turismo en Venezuela, brindandole así 
            a las personas un medio de información confiable mediante el cual puedan indagar acerca de los diferentes planes 
            vacacionales u ofertas alrededor de todo el territorio venezolano, ofreciendoles el contacto directo con las 
            empresas o personas que se encargan día a día de este tipo de actividades.
          </p>
        </div>
        <img src="../../../../../assets/img/logos/logo.png" class="image-1">
      </div>

      <!-- Wave azul -->
      <div class="wave" style="height: 200px; overflow: hidden;"  bis_skin_checked="1">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M-6.54,109.73 C215.80,-26.08 371.55,158.95 506.43,116.63 L500.00,149.60 L-0.00,149.60 Z" style="stroke: none; fill: #408ac7;"></path>
        </svg>
      </div>  
    </div>

    <!-- ¿Qué ofrecemos? -->
    <div class="offers ft-white wt-100">

      <!-- Descripción -->
      <h3>¿Qué ofrecemos?</h3>
      <div class="divider-md bg-white"></div>
      <div class="divider-sm bg-white display-none"></div>
      <p>
        Nuestra empresa se encarga de proporcionar un medio informativo dedicado a las ofertas de sitios que ofrenecen planes 
        vacacionales, bien sean empresas o personas. Haciendo que la eleccion de un lugar para vacacionar pueda hacerse desde 
        la comodidad del hogar y mucho antes de viajar.  
      </p>

      <!-- Cartas -->
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col" *ngFor="let card of cardItems">
          <div class="card">
            <img [src]="card.image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"> {{ card.title }} </h5>
              <p class="card-text"> {{ card.description }} </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> {{ card.price }} - {{ card.limit }} </li>
              <li class="list-group-item"> Estado {{ card.ubication }} </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <app-footer class="wt-100"></app-footer>
  </div>
</div>