<div class="login wt-100">
  <div class="body text-center">

    <!-- TravelPass (Logo y nombre) -->
    <app-logo-name></app-logo-name>

    <!-- Texto informativo -->
    <div class="informative-text">
      <h5>¿Olvidaste tu contraseña?</h5>
      <p class="ft-gray-1">
        Ingresa el correo electrónico asociado a tu cuenta y sigue los pasos para 
        recuperar el acceso. 
      </p>
    </div>

    <div class="form">
      <form>
        <div class="mb-3">
          <input 
            type="email" 
            class="form-control form-control-lg" 
            placeholder="Correo electrónico"
          >
        </div>
        <button 
          class="wt-100 ft-white bg-blue-3"
        >
          Confirmar
        </button>
      </form>
    </div>
    <div class="links">
      <p class="ft-black text-center">
        ¿No tienes una cuenta? 
        <a
          class="ft-gray-1" 
          routerLink="/auth/sign-up"
        >
            Regístrate
        </a>
      </p>
      <p class="ft-black text-center">
        ¿Tienes una cuenta?
        <a 
          class="ft-gray-1"
          routerLink="/auth/login"
        >
          Ingresar
        </a> 
      </p>
    </div>
  </div>
</div>