/* Globales */
p {
  line-height: normal;
}

/* Información */
.information {
  margin-top: 2.5rem;
}
.information .icons i {
  font-size: 1.6rem;
  padding: 0rem 0 0 1.2rem;
}
.information img {
  border: #408AC7 3px solid;
  height: 14rem;
  margin: 4.3rem 0 0 4rem;
  width: 22rem;
}

/* Pantallas pequeñas */
@media (max-width: 990px) {

  /* Globales */
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .padding {
    padding: 2rem 2.3rem;
  }

  /* Body */
  .information {
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .divider-md {
    display: none;
  }
  .divider-sm {
    display: block;
    margin-bottom: 1.5rem;
  }
  .information .icons i {
    font-size: 1.2rem;
    padding: 0rem 0 0 0.6rem;
  }
  .image, .image img {
    height: 12rem;
    margin: 0.5rem 0 2rem 0 !important;
    width: 100%;
  }

}